/* .box1 {
    border: solid 2px grey;
    width: 240px;

    display: flex;
    border-color: rgb(184, 178, 178);
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0.5px;

}


.box2 {

    border: solid 2px grey;
    width: 240px;
    display: flex;
    border-color: rgb(184, 178, 178);
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0.5px;

}

.in-box {
    flex: 2;
    height: 45px;
    background-color: rgb(0, 102, 255);
    border: solid 2px white;
    margin: 0px;
    font-weight: bold;
}

.box2 :nth-child(1) {
    flex: 1;
}
 */



.box1 {
    border: solid 2px grey;
    width: 240px;
    height: 55px;

    display: flex;
    border-color: rgb(184, 178, 178);
    box-sizing: border-box;

    margin: 0;
    padding: 0.5px;

}

.in-box {

    flex-grow: 1;
    flex basis: 0;
    background-color: rgb(0, 102, 255);
    border: solid 2px white;
    margin: 0px;
    font-weight: bold;

}

.box2 {
    height: 55px;
    border: solid 2px grey;
    width: 240px;
    display: flex;
    border-color: rgb(184, 178, 178);
    box-sizing: border-box;
    margin: 0;
    padding: 0.5px;


}



.in-box2 {
    flex-basis: 0;
    flex-grow: 1;
    background-color: rgb(0, 102, 255);
    border: 2px solid white;
    font-weight: bold;
    padding: 4px;
    box-sizing: border-box;

}

/* 1) 4 boxes evenly distributed */
.box1 {
    width: 500px;
    height: 55px;
    border: 2px solid rgb(184, 178, 178);
    padding: 4px;
    display: flex;
    box-sizing: border-box;
}

.in-box {
    flex-grow: 1;
    /* all equal */
    flex-basis: 0;
    /* makes them truly equal */
    background: rgb(0, 102, 255);
    border: 2px solid white;
    font-weight: bold;
    padding: 4px;
    box-sizing: border-box;
}


/* 2) 3 boxes where 2 and 3 are twice as big as 1 */
.box2 {
    width: 500px;
    height: 55px;
    border: 2px solid rgb(184, 178, 178);
    padding: 4px;
    display: flex;
    box-sizing: border-box;
}

.in-box2 {
    flex-grow: 1;

    flex-basis: 0;
    background: rgb(0, 102, 255);
    border: 2px solid white;
    font-weight: bold;
    padding: 4px;
    box-sizing: border-box;
}

/* make boxes 2 and 3 twice as wide */
.in-box2:nth-child(2),
.in-box2:nth-child(3) {
    flex-grow: 2;
}

.blue-circle {
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 10px;


}

.layout1 {
    display: flex;
    border: 1px solid #ddd;
    border-color: black;

}

.right-side1 {
    justify-content: center;
    align-content: center;
    border: 1px;
    border-color: black;
    flex: 1;
    align-items: center;
    display: flex;
}


.left-side1 {
    border-right: 1px solid #ddd;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;

}

.layout2 {
    display: flex;
    border: 2px solid #ff6b6b;

    border-color: #ff6b6b;
    height: 320px;
    width: 600px;
}

.left-side2 {
    border-right: 2px solid #ff6b6b;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 170px;
    box-sizing: border-box;




}

.bar div {
    height: 8px;
    background: #ff6b6b;
    border-radius: 2px;


}

.bar {
    display: flex;
    flex-direction: column;


}

.bar .first {
    width: 55px;
}

.bar .second {
    width: 55px;
}

.bar .third {
    width: 35px;
}


.right-side2 {
    justify-content: center;
    align-content: center;
    border: 1px;
    border-color: black;
    flex: 1;
    align-items: center;
    display: flex;
    padding: 30px;
}

body {
    background: #e6e6e6;
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
}

.top-text {
    max-width: 700px;
    margin: 0 auto 30px auto;
    font-size: 12px;
    line-height: 1.4;
}

.layout-3 {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    align-items: stretch;
}

.left {
    flex: 2;
    height: 260px;
    background: #5b8df6;
}

.right {
    flex: 1.2;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
    box-sizing: border-box;
}

.small {
    background: #5b8df6;
    width: calc((100% - 10px) / 2);
    height: calc((100% - 10px) / 2);
}

body {
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
    background: #fff;
}

.card {
    width: 650px;
    height: 520px;
    border: 3px solid #ff7b7b;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.top {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding: 30px 50px;
    box-sizing: border-box;
}

.circle {
    width: 110px;
    height: 110px;
    background: #ff7b7b;
    border-radius: 50%;
    opacity: 0.9;
}

.text {
    max-width: 460px;
    text-align: center;
    font-size: 11px;
    line-height: 1.45;
    color: #333;
    margin: 0;
}

.bottom {
    height: 85px;
    border-top: 3px solid #ff7b7b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    box-sizing: border-box;
}

.left-bars,
.right-bars {
    display: flex;
    gap: 10px;
}

.bar {
    display: block;
    width: 46px;
    height: 10px;
    background: #ff7b7b;
}



.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #6f63d6;
    color: #fff;
    padding: 16px 20px;
    font-weight: 700;
}

main {
    flex: 1;
    display: flex;
    gap: 16px;
    padding: 16px;
    background: #f3f5f7;
    align-items: stretch;
}

nav {
    width: 180px;
    background: #eef1f4;
    padding: 14px;
    border-radius: 8px;
}

.content {
    flex: 1;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    min-width: 0;
}

aside {
    width: 220px;
    background: #eef1f4;
    padding: 14px;
    border-radius: 8px;
}

footer {
    background: #2f363d;
    color: #e8edf2;
    padding: 14px 20px;
    text-align: center;
}

.card {
    background: #f6f7f9;
    border: 1px solid #e2e6ea;
    border-radius: 8px;
    padding: 12px;
    margin-top: 12px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

li {
    padding: 6px 0;
    color: #444;
}

h1 {
    margin: 0 0 10px;
    font-size: 18px;
}

h2 {
    margin: 0 0 8px;
    font-size: 14px;
}

p {
    margin: 0 0 10px;
    color: #333;
    font-size: 12px;
    line-height: 1.45;
}